# =============================================================================
# PRODUCTION CONFIG EXAMPLE
# -----------------------------------------------------------------------------
# By default it will use SQLite, but that's mostly to test and evaluate the
# server. So you'll want to specify db connection settings to use Postgres.
# =============================================================================
#
APP_BASE_URL=https://joplin.local.willkimble.net/
APP_PORT=22300
# 
DB_CLIENT=pg
POSTGRES_PASSWORD=
POSTGRES_DATABASE=
POSTGRES_USER=
POSTGRES_PORT=
POSTGRES_HOST=localhost

# =============================================================================
# DEV CONFIG EXAMPLE
# -----------------------------------------------------------------------------
# Example of local config, for development. In dev mode, you would usually use
# SQLite so database settings are not needed.
# =============================================================================
#
#APP_BASE_URL=
# APP_PORT=22300
